<html>
  <head>
    <title>2048 Game</title>
    <style>
      /* Add any styles for the game here */
    </style>
  </head>
  <body>
    <h1>2048 Game</h1>
    <form action="/" method="post">
      <input type="submit" name="move" value="up">
      <input type="submit" name="move" value="down">
      <input type="submit" name="move" value="left">
      <input type="submit" name="move" value="right">
    </form>
    <table>
      {% for row in game_grid %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
